<div class="container">
  <h3>Shopping Cart</h3>
  <div class="row col-10 card" *ngIf="cart$ | async as cart">
    <div class="card-body">
      <p>
        You have {{ cart.totalItemsCount }} items in your shopping cart.
        <button 
        *ngIf="cart.items.length"
        (click)="clearCart()"
        class="btn btn-light btn-sm float-right">Clear Shopping Cart</button>
      </p>
    </div>
  
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th class="text-center" style="width: 230px">Quantity</th>
          <th class="text-right" style="width: 200px">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart.items">
          <td>
            <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
          </td>
          <td class="align-middle">
            {{ item.title }}
          </td>
          <td class="align-middle">
            <app-product-quantity [product]="item" [shopping-cart]="cart"></app-product-quantity>
          </td>
          <td class="text-right align-middle">
            {{ item.totalPrice | currency }}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th class="text-right">{{ cart.totalPrice | currency }}</th>
        </tr>
        <tr>
          <th colspan="4">
            <a 
            *ngIf="cart.items.length"
            routerLink="/check-out"
            class="btn btn-primary">Check Out</a>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
