
<!-- SHOWCASE SLIDER -->
<section id="showcase">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="dark-overlay">
          <div class="container">
            <div class="carousel-caption text-left mb-5">
              <h1 class="display-4"><strong>Healthy Eating</strong></h1>
              <p class="lead d-none d-md-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum delectus soluta ab laudantium temporibus quae.</p>
              <a routerLink="/products" class="btn btn-primary btn-lg mt-2">View Products</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-2">
        <div class="dark-overlay">
          <div class="container">
            <div class="carousel-caption text-center mb-5">
              <h1 class="display-4"><strong>Organic Meals</strong></h1>
              <p class="lead d-none d-md-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem aliquam accusamus ipsam eos iste atque.</p>
              <a routerLink="/login" class="btn btn-primary btn-lg mt-2">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-3">
        <div class="dark-overlay">
          <div class="container">
            <div class="carousel-caption text-right mb-5">
              <h1 class="display-4"><strong>Whole Foods</strong></h1>
              <p class="lead d-none d-md-block"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quo non aspernatur quos, dolor odio?</strong></p>
              <a routerLink="/shopping-cart" class="btn btn-primary btn-lg mt-2">View Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<!-- HOME ICON SECTION -->
<section id="home-icons" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-1 text-center">
        <i class="fa fa-leaf mb-2"></i>
        <h3>Healthy Eating</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat nulla natus temporibus officiis impedit explicabo.</p>
      </div>
      <div class="col-md-4 mb-1 text-center">
        <i class="fa fa-cutlery mb-2"></i>
        <h3>Organic Meals</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nostrum deserunt veritatis obcaecati rerum quas.</p>
      </div>
      <div class="col-md-4 mb-1 text-center">
        <i class="fa fa-heart mb-2"></i>
        <h3>Whole Foods</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem explicabo autem unde! Ipsa, veritatis est?</p>
      </div>
    </div>
  </div>
</section>

<!-- HOME HEADING SECTION -->
<section id="skills-header" class="p-5">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-5">
          <h1>oshop</h1>

          <!-- TAKE A LOOK AT CLASS FOR OVERFLOWS -->
          <p class="d-none d-md-block pt-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, id!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- INFO SECTION-->
<section id="info" class="pt-4">
  <div class="container">
    <div class="row">
      <div class="col align-self-center py-3">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active text-dark" data-toggle="tab" href="#clarkstonMI">Clarkston, MI</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" data-toggle="tab" href="#royalOakMI">Royal Oak, MI</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" data-toggle="tab" href="#annArborMI">Ann Arbor, MI</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active p-3" id="clarkstonMI" role="tabpanel">
              <div class="row">
                <div class="col">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dicta porro quaerat molestias cupiditate, aut necessitatibus molestiae hic! Explicabo, laborum!</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam placeat consequuntur repudiandae cupiditate rerum dolores quibusdam, debitis qui laudantium quia?</p>
                  <p>Address: <br>
                    1660 N. Shepherd Road <br>
                    Clarkston, MI 48346
                  </p>
                </div>
                <div class="col">
                  <p>Google Map Pin Locator on Clarkston</p>
                </div>
              </div>
            </div>

            <div class="tab-pane p-3 fade in" id="royalOakMI" role="tabpanel">
              <div class="row">
                <div class="col">
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus eligendi et, totam itaque dicta reiciendis eveniet harum adipisci rem officiis!</p>
                  <p>Lorem ipsum dolor elit. Voluptates, fugit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptatum magni vel incidunt laboriosam sint labore dicta reiciendis quae ipsam.</p>
                  <p>Address: <br>
                    702 Michigan Street <br>
                    Royal Oak, MI 49327
                </div>
                <div class="col">
                  <p>Google Map Pin Locator on Royal Oak</p>
                </div>
              </div>
            </div>

            <div class="tab-pane fade in p-3" id="annArborMI" role="tabpanel">
              <div class="row">
                <div class="col">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae reprehenderit perspiciatis voluptatum modi vero odit excepturi libero obcaecati! Ipsum, tempora?</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores maxime error dolor ullam cupiditate aperiam, repudiandae sunt exercitationem repellat similique.</p>
                  <p>Address: <br>
                    304 Burkshire Avenue <br>
                    Ann Arbor, MI 48437
                </div>
                <div class="col">
                  <p>Google Map Pin Locator on Ann Arbor</p>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>